.ark-tab-div {
    display: grid;
    margin-bottom: -1px;
    padding: 15px 15px 15px 15px;
}

.search-result-div {
    display: grid;
}
.tickerText {

    margin-left: auto;
    color: #777;
    font-size: 14px;
    border: 1px solid #eee;
    width: 55%;
    height: 50px;
    outline: none;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 25px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin-bottom: 25px;
}

.on {
    display: block;
}
.off {
    display: none;
}
.ark-search .page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
}
.ark-search .page-link:hover {
    z-index: 2;
    color: #343a40;
    text-decoration: none;
    background-color: #e9ecef;
    border-color: #dee2e6;
}
.ark-search a:hover {
    color: #343a40;
    text-decoration: underline;
}
.ark-search .page-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #343a40;
    background-color: #fff;
    border: 1px solid #dee2e6;
}
.ark-search table th,
.ark-search table td {
    color: white;
    font-size : 11px;
    font-family: sans-serif, "Raleway";
}

.ark-search.black-font table th,
.ark-search.black-font table td {
    color: black !important;
}

.ticker-company {
    color: gray;
    font-weight: bold;
}

.font-weigt-bold {
    font-weight: bold;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

#readJson {
    margin-right: auto;
    width: 105px;
    height: 50px;
    margin-left: 18px;
    border-radius: 25px;
    font-size: 14px;
    line-height: 2.5;
}
body {
background: black;

}

 input[type="checkbox"] {
     position: absolute;
     visibility: hidden;
     cursor: pointer;
 }

label {
    display: block;
    position: absolute;
    width: 60px;
    height: 34px;
    border-radius: 17px;
    background-color: #fff;
    transition-duration: 0.2s;
}

label span{
    position: absolute;
    left: 3px;
    top: 3px;
    z-index: 1;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: white;
    transition-duration: 0.2s;
}



label:before,
label:after{
    position: absolute;
    top: 0;
    width: 34px;
    font-size: 11px;
    line-height: 34px;
    color: #fff;
    text-align: center;
}

/*label:after{
    position: absolute;
    top: 0;
    width: 34px;
    font-size: 11px;
    line-height: 34px;
    color: #black;
    text-align: center;
}*/

label:before {
    left: 0;

}

label:after {
    right: 0;
}

input:checked + label {
    background-color: black;
}

input:checked + label span {
    transform: translate(25px, -1px);
}

.logo-black {

}
.logo-white {

}